body {
    font-family: 'Roboto', sans-serif;
    background-color: #000; /* fallback */
    background: linear-gradient(135deg, #000000, #333333, #822008, #1e1e1e);
    color: #d3d3d3; /* Light Gray Text */
    margin: 0;
    padding: 0;
    line-height: 1.6;
  }
  