/* Custom styles to override Bootstrap defaults */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header h1 {
    font-size: 3em;
}

.map iframe {
    border: none;
}

p, .form-group label {
    color: #333;
}

.container {
    margin-top: 2rem;
}

.form-control {
    margin-bottom: 1rem;
}

.btn-primary {
    background-color: #0056b3;
    border-color: #004b93;
}

.btn-primary:hover {
    background-color: #004b93;
    border-color: #003d7a;
}
