<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-3">
                <h5>Quick Link</h5>
                <ul class="list-unstyled">
                    <li><a class="text-white" href="/index/">Home</a></li>
                    <li><a class="text-white" href="/about/">About</a></li>
                    <li><a class="text-white" href="/about_first/">About FIRST</a></li>
                    <li><a class="text-white" href="/contact_us/">Contact Us</a></li>
                    <li><a class="text-white" href="/follow_us/">Follow Us</a></li>
                    <li><a class="text-white" href="/members/">Members</a></li>
                    <li><a class="text-white" href="/gallery/">Gallery</a></li>
                    <li><a class="text-white" href="/blog/">Blog</a></li>
                    <li><a class="text-white" href="/sponsors/">Sponsors</a></li>
                </ul>
            </div>
            <div class="col-md-4 mb-3">
                <h5>Social Media</h5>
                <a href="https://www.instagram.com/hudsonstingers4295" target="_blank" class="text-white mx-2">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://www.facebook.com/team4295" target="_blank" class="text-white mx-2">
                    <i class="fab fa-facebook"></i>
                </a>
                <a href="https://twitter.com/frc4295" target="_blank" class="text-white mx-2">
                    <i class="fab fa-twitter"></i>
                </a>
            </div>
            <div class="col-md-4 mb-3">
                <h5>Contact Us</h5>
                <p>Email: <a href="mailto:hudsonisdrobotics@gmail.com" class="text-white">hudsonisdrobotics@gmail.com</a></p>
                <p>Address: 6735 Ted Trout Dr, Lufkin, TX 75904</p>
                <img src="/images/logos/FRC_Logo.png" alt="FRC Logo" class="img-fluid mx-auto d-block mt-2">
            </div>
        </div>
        <hr class="bg-white">
        <p class="mb-0">© 2024 Hudson Stingers. Unauthorized reproduction of this text may result in robot rebellion. You’ve been warned. 😜</p>
    </div>
</footer>