<footer class="bg-dark text-white py-4 mt-5">
    <div class="container">
      <div class="row">
        <!-- Quick Links -->
        <div class="col-md-4 mb-3">
          <h5>Quick Links</h5>
          <ul class="list-unstyled">
            <li><a class="text-white text-decoration-none" href="/">Home</a></li>
            <li><a class="text-white text-decoration-none" href="/about/">About</a></li>
            <li><a class="text-white text-decoration-none" href="/about_first/">About FIRST</a></li>
            <li><a class="text-white text-decoration-none" href="/contact_us/">Contact Us</a></li>
            <li><a class="text-white text-decoration-none" href="/follow_us/">Follow Us</a></li>
            <li><a class="text-white text-decoration-none" href="/members/">Members</a></li>
            <li><a class="text-white text-decoration-none" href="/gallery/">Gallery</a></li>
            <li><a class="text-white text-decoration-none" href="/blog/">Blog</a></li>
            <li><a class="text-white text-decoration-none" href="/sponsors/">Sponsors</a></li>
          </ul>
        </div>
  
        <!-- Social Media -->
        <div class="col-md-4 mb-3">
          <h5>Social Media</h5>
          <a href="https://www.instagram.com/hudsonstingers4295" target="_blank" rel="noopener" class="text-white fs-4 me-3">
            <i class="fa-brands fa-instagram"></i>
          </a>
          <a href="https://www.facebook.com/team4295" target="_blank" rel="noopener" class="text-white fs-4 me-3">
            <i class="fa-brands fa-facebook"></i>
          </a>
          <a href="https://twitter.com/frc4295" target="_blank" rel="noopener" class="text-white fs-4">
            <i class="fa-brands fa-x-twitter"></i>
          </a>
        </div>
  
        <!-- Contact -->
        <div class="col-md-4 mb-3">
          <h5>Contact Us</h5>
          <p class="mb-1">
            Email: <a href="mailto:hudsonisdrobotics@gmail.com" class="text-white text-decoration-none">hudsonisdrobotics@gmail.com</a>
          </p>
          <p class="mb-2">Address: 6735 Ted Trout Dr, Lufkin, TX 75904</p>
          <img 
            src="/images/logos/FRC_Logo-480.webp"
            srcset="/images/logos/FRC_Logo-320.webp 320w,
                    /images/logos/FRC_Logo-480.webp 480w,
                    /images/logos/FRC_Logo-516.webp 516w"
            sizes="(max-width: 480px) 320px, 
                    (max-width: 768px) 480px, 
                    516px"
            width="516" height="309"
            class="img-fluid mx-auto d-block mt-2"
            loading="lazy"
            alt="FRC Logo">
        </div>
      </div>
  
      <hr class="border-light">
      <p class="mb-0 small text-center">
        © 2025 Hudson Stingers. Unauthorized reproduction of this text may result in robot rebellion. You’ve been warned. 😜
      </p>
    </div>
  </footer>
  