<section id="{{form_id}}" class="text-center" data-form-id="{{form_id}}" data-lambda-url="{{lambda_url}}">
  <h2>{{form_title}}</h2>
  <p>{{form_message}}</p>

  <form>
    <div class="mb-3">
      <label for="name" class="form-label">Name / Organization:</label>
      <input type="text" class="form-control" id="name" name="name" required>
    </div>

    <div class="mb-3">
      <label for="phone" class="form-label">Phone Number:</label>
      <input type="tel" class="form-control" id="phone" name="phone">
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Email:</label>
      <input type="email" class="form-control" id="email" name="email" required>
    </div>

    <div class="mb-3">
      <label for="comment" class="form-label">Comment:</label>
      <textarea class="form-control" id="comment" name="comment" rows="4"></textarea>
    </div>

    <!-- Honeypot -->
    <div class="d-none">
      <label for="website" class="form-label">Leave this field empty</label>
      <input type="text" id="website" name="website" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary mt-3">Submit</button>
  </form>
</section>

<script type="module" src="/js/form_handler.mjs"></script>
