<header>
    <a href="/">
      <img 
        src="/images/banner/Hudson_FRC_4295_Banner_Cropped-1200.webp"
        srcset="/images/banner/Hudson_FRC_4295_Banner_Cropped-480.webp 480w,
                /images/banner/Hudson_FRC_4295_Banner_Cropped-768.webp 768w,
                /images/banner/Hudson_FRC_4295_Banner_Cropped-1200.webp 1200w,
                /images/banner/Hudson_FRC_4295_Banner_Cropped-1854.webp 1854w"
        sizes="100vw"
        width="1854" height="555"
        fetchpriority="high"
        alt="Hudson Stingers Banner"
        class="banner">
    </a>      
  </header>
  
  <div class="header-content bg-dark text-white py-3">
    <h1 class="display-4 m-0">Hudson Stingers</h1>
  </div>
  
  <nav class="navbar navbar-expand-lg navbar-light bg-grays">
    <div class="container-fluid">
      <!-- Navbar toggler -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <!-- Collapsible content -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item"><a class="nav-link" href="/about/">About</a></li>
          <li class="nav-item"><a class="nav-link" href="/about_first/">About FIRST</a></li>
          <li class="nav-item"><a class="nav-link" href="/contact_us/">Contact Us</a></li>
          <li class="nav-item"><a class="nav-link" href="/follow_us/">Follow Us</a></li>
          <li class="nav-item"><a class="nav-link" href="/members/">Members</a></li>
          <li class="nav-item"><a class="nav-link" href="/gallery/">Gallery</a></li>
          <li class="nav-item"><a class="nav-link" href="/blog/">Blog</a></li>
          <li class="nav-item"><a class="nav-link" href="/sponsors/">Sponsors</a></li>
        </ul>
      </div>
    </div>
  </nav>
  