<!DOCTYPE html>
<html lang="en">
  {% include "head/" + (head or "default") + "_head.njk" %}
  <body class="bg-gray-950 text-gray-200">
    {% include "header.njk" %}
    <main class="min-h-screen">
      {{ content | safe }}
    </main>
    {% include "footer.njk" %}
  </body>
</html>
